{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accès refusé{% endblock %}

{% block body %}
    <h2>Désolé, la page demandée n'existe pas.</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Retour à la page d'accueil</a>
{% endblock %}