{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">
            <div class="col-10 col-md-4">
                <h1 class="mb-5 text-center">Mot de passe oublié</h1>
                <form class="mb-4" action="/login" method="post">
                    <div class="form-group">
                        <label for="forgotPassword" class="labelForm" >Nom d'utilisateur</label>
                        <input type="text" name="forgotPassword" id="forgotPassword" class="form-control" placeholder="Nom d'utilisateur" value="" required>
                    </div>
                    <div class="form-group my-4 text-center">
                        <button type="submit" class="btnValidate">Réinitialiser</button>
                    </div>
                    <input type="hidden" id="passwordForgotToken" name="passwordForgot[_token]" value="???" />
                </form>
                <p class="font-weight-bold text-justify pt-3">*Un mail sera acheminé. Veuillez regarder dans votre boîte mail et suivre les instructions à l'intérieur du mail (pensez à vérifier vos spams).</p>
            </div>
        </div>
    </main>
{% endblock %}