{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Administration{% endblock %}

{% block body %}
    <main>
        <div class="container col-10">
            <div class="row">
                {% include('/administration/navAdministration.html.twig') %}
                <div class="col-md-9">                                     
                    <div class="container col-12 adminMain">
                        <p class="font-weight-bold titleAdmin">Administration</p>
                    </div>              
                </div>
            </div>
        </div>
    </main>
{% endblock %}
