{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accès refusé{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center pt-5">
            <img src="{{ asset('img/403.jpg') }}">
        </div>
        <div class="row justify-content-center pt-5">    
            <h2>Vous ne possédez pas les droits nécessaires pour accéder à cette page.</h2>
        </div>
        <div class="row justify-content-center pt-5">
            <a href="{{ path('home') }}" class="btn btn-primary">Retour à la page d'accueil</a>
        </div>   
    </main>
{% endblock %}