{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-6">
                <h1 class="mb-5 text-center">Créer une nouvelle figure</h1>
                
                <form class="mb-4" action="/createTrick" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="labelForm">Titre</label>
                        <input type="text" class="form-control"  id="title" name="title" value="{% if title is defined %} {{ title }} {% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="content" class="labelForm">Contenu</label>
                        <textarea type="text" class="form-control" rows="10" id="content" name="content">{% if content is defined %} {{ content }} {% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="uploadMainImage" class="labelForm">Image principale</label><br />
                        <div class="btnValidate btnUpload">Upload
                            <input type="file" class="hideUpload"
                                id="uploadMainImage" name="uploadMainImage"
                                accept="image/png, image/jpeg">
                            </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg</p>
                    <div class="form-group">
                        <label for="uploadImage" class="labelForm">Gallerie d'images (facultatif)</label><br />
                        <div class="btnValidate btnUpload">Upload
                            <input type="file" multiple class="hideUpload"
                                id="uploadImage" name="uploadImage"
                                accept="image/png, image/jpeg">
                        </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg, vous pouvez en sélectionner plusieurs à la fois</p>
                    <div class="form-group">
                        <label for="title" class="labelForm">Vidéo (facultatif)</label>
                        <input type="text" class="form-control"  id="title" name="title" value="{% if upload is defined and type == 0 %} {{ path }} {% endif %}">
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une vidéo Youtube</p>
                    <label for="category" class="labelForm">Catégorie</label><br />
                    <select name="category" id="category">
                        <option value="">Grab</option>
                        <option value="">Rotation</option>
                        <option value="">Flip</option>
                        <option value="">Slide</option>
                        <option value="">Rotation désaxée</option>
                        <option value="">One foot tricks</option>
                        <option value="">Old school</option>
                    </select>
                    <div class="form-group my-4 text-center">
                        <button type="submit" name="validateTrick" class="btnValidate btnNewFigure mt-4 mb-3">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
