{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="container profileUser mt-4">
            <div class="row">   
                <div class="container col-12">
                    {% if trick.images | length > 0  %}
                        <div class="row">
                            <div class="col-2">
                                <div class="titleMedias">
                                    <h4 class="pl-3">Nos images</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for image in trick.images %}
                                <div class="col-6">
                                    <a class="mb-2" href="{{ asset(image.pathImage) }}"><img class="medias" src="{{ asset(image.pathImage) }}" alt="photo snowboarder"></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="container col-12">
                            <div class="col-12">
                                <p class="font-weight-bold text-center">Il n'y a pas d'image disponible pour ce trick.</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if trick.videos | length > 0  %}
                        <div class="row">
                            <div class="col-2">
                                <div class="titleMedias">
                                    <h4 class="pl-3">Nos vidéos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for video in trick.videos %}
                                <div class="col-10 offset-1">
                                    <iframe class="medias videosMobile" src="{{ video.linkVideo }}" allowfullscreen></iframe>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="container col-12">
                            <div class="col-12">
                                <p class="font-weight-bold text-center">Il n'y a pas de video disponible pour ce trick.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}