{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-4">
                <h1 class="mb-5 text-center">Modifiez votre password</h1>
                <form class="mb-4" action="/modifyPassword" method="post">
                    <div class="form-group">
                        <label for="oldPassword" class="labelForm" >Mot de passe actuel</label>
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Mot de passe actuel" value="" required>
                    </div>  
                    <div class="form-group">
                        <label for="newPassword" class="labelForm">Nouveau mot de passe</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Nouveau mot de passe" required>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm" class="labelForm">Confirmer votre nouveau mot de passe</label>
                        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="form-control" placeholder="Veuillez confirmer votre nouveau mot de passe" required>
                    </div>
                    <div class="form-group my-4 text-center">
                        <button type="submit" class="btnValidate">Modifier</button>
                    </div>
                    <input type="hidden" id="modifyPasswordToken" name="modifyPassword[_token]" value="????????????" />
                </form>             
            </div>
        </div>
    </main>
{% endblock %}
